<div class="body grid grid-cols-[15%,1fr]">
  <div class="menu bg-white sticky top-0 float-0 h-screen rounded-md flex flex-col justify-between">
    <div class="logo flex items-center justify-center pt-4">
      <img class = "w-20 rounded-md" src="https://cdn.dribbble.com/userupload/4154887/file/original-a9480199e3d58aba8d8c6f08e34063e8.png" alt="">
      <h4 class = "ml-2 text-lg font-bold text-gray-800">PENGUIN</h4>
    </div>
    <div class="menu-items flex-grow">
      <ul class="flex flex-col space-y-4 p-10">
        <li><a href="#" class="block p-4 bg-green-400 rounded-md hover:bg-gray-200 font-sans text-sm-[20px] h-[50px] flex items-center"><ion-icon name="calendar-outline" class="pr-2 h-[30px] w-[30px] items-center justify-between"></ion-icon>Lịch hẹn</a></li>
        <li><a href="#" class="block p-4 bg-white rounded-md hover:bg-gray-200 font-sans text-sm-[20px] h-[50px] flex items-center"><ion-icon name="newspaper-outline" class="pr-2 h-[30px] w-[30px] items-center justify-between"></ion-icon>Phiếu Khám</a></li>
        <li><a href="#" class="block p-4 bg-white rounded-md hover:bg-gray-200 font-sans text-sm-[20px] h-[50px] flex items-center"><ion-icon name="person-outline" class="pr-2 h-[30px] w-[30px] items-center justify-between"></ion-icon>Hồ sơ</a></li>
      </ul>
    </div>
    <div class="flex flex-col space-y-4 p-10">
      <h4><a href="#" class="p-4 rounded-md hover:bg-gray-200 font-sans text-sm-[20px] h-[50px] flex items-center"><ion-icon name="log-out-outline" class="pr-2 h-[30px] w-[30px] items-center justify-between"></ion-icon>Logout</a></h4>
    </div>
  </div>
  <div class="content bg-gray-300">
    <!--Header body-->
    <div class="flex-grow flex justify-between items-center mx-4 pt-4">
      <input type="text" class="border rounded-2xl p-2 w-full max-w-sm" placeholder="Search...">
      <div class="user flex items-center justify-between">
        <ion-icon name="notifications-outline" class="w-[20px] h-[20px]"></ion-icon>
        <img class="w-12 h-12 rounded-full ml-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Golden_tabby_and_white_kitten_n01.jpg/1200px-Golden_tabby_and_white_kitten_n01.jpg" alt="">
      </div>
    </div>

    <!--Content body-->
    <div class="table-schedule flex items-center pt-4">
      <div class="item-1 bg-white w-1/4 h-[20%] mx-4 rounded-lg">
        <span class="text-slate-400 mx-4 pt-4">
          <p class="mx-4">Số lượng lịch khám đã được duyệt</p><br>
          <h4 class="text-4xl mx-4 text-black font-bold">30</h4>
        </span>
      </div>

      <!-- Thẻ con 2 -->
      <div class="item-1 bg-white w-1/4 h-[20%] mx-4 rounded-lg">
        <span class="text-slate-400 mx-4 pt-4">
          <p class="mx-4">Số lượng lịch chưa được duyệt</p><br>
          <h4 class="text-4xl mx-4 text-black font-bold">30</h4>
        </span>
      </div>
    </div>

    <div class="CRUD bg-white pt-0 mx-4 w-auto h-auto mt-4 rounded-lg">
      <div class="header-crud w-auto h-[50px] bg-gray-500 rounded-t-lg flex items-center justify-between" >
        <div class="header-title">
          <h4 class = "mx-4 font-bold">Danh Sách lịch hẹn</h4>
        </div>
        <div class="header-select relative ">
          <label class ="text-slate-400 mx-2 pt-4" for="">Danh Sách lịch hẹn:</label>
          <select class="w-auto h-[28px] rounded-lg mx-4 appearance-none pl-2" name="" id="">
            <option class="" value="">Danh sách lịch khám đã được duyệt</option>
            <option class="" value="">Danh sách lịch khám chưa được duyệt</option>
          </select>
        </div>
      </div>
      <div class="body-crud w-auto h-[65%] mt-4 mx-4 rounded-lg pb-4 flex ">
        <div class="w-2/3 bg-gray-200">
          <div class="table ml-4">
            <table class="content-table">
              <thead>
                <tr>
                  <th></th>
                  <th>Mã phiếu khám</th>
                  <th>Họ và Tên</th>
                  <th>Số điện thoại</th>
                  <th>tên thú cưng</th>
                  <th>Lịch Khám</th>
                  <th>Status</th>
                  <th>setting</th>
                </tr>
              </thead>
             <tbody>
              <tr class = "active-row">
                <td><input type="checkbox" value=""></td>
                <td>MIV209</td>
                <td>Hoàng Phi Hùng</td>
                <td>+84935603752</td>
                <td>Katty</td>
                <td>17/09/2024</td>
                <td>Active</td>
                <td class="flex items-center">
                  <a href="" class = "hover:bg-slate-400 w-[50%] h-[100%]"><ion-icon id="setting" class="w-[30px] h-[20px]"  name="settings-outline"></ion-icon></a>
                  <a href="" class = "hover:bg-slate-400 w-[50%] h-[100%]"><ion-icon id="trash" class="w-[30px] h-[20px]" name="trash-outline"></ion-icon></a>
                </td>
              </tr>
              <tr>
                <td><input type="checkbox" value=""></td>
                <td>MIV209</td>
                <td>Hoàng Phi Hùng</td>
                <td>+84935603752</td>
                <td>Katty</td>
                <td>17/09/2024</td>
                <td>Pending</td>
                <td class="flex items-center">
                  <a href="" class = "hover:bg-slate-400 w-[50%] h-[100%]"><ion-icon id="setting" class="w-[30px] h-[20px]"  name="settings-outline"></ion-icon></a>
                  <a href="" class = "hover:bg-slate-400 w-[50%] h-[100%]"><ion-icon id="trash" class="w-[30px] h-[20px]" name="trash-outline"></ion-icon></a>
                </td>
              </tr>
              <tr>
                <td><input type="checkbox" value=""></td>
                <td>MIV209</td>
                <td>Hoàng Phi Hùng</td>
                <td>+84935603752</td>
                <td>Katty</td>
                <td>17/09/2024</td>
                <td>Disable</td>
                <td class="flex items-center">
                  <a href="" class = "hover:bg-slate-400 w-[50%] h-[100%]"><ion-icon id="setting" class="w-[30px] h-[20px]"  name="settings-outline"></ion-icon></a>
                  <a href="" class = "hover:bg-slate-400 w-[50%] h-[100%]"><ion-icon id="trash" class="w-[30px] h-[20px]" name="trash-outline"></ion-icon></a>
                </td>
              </tr>
              <tr>
                <td><input type="checkbox" value=""></td>
                <td>MIV209</td>
                <td>Hoàng Phi Hùng</td>
                <td>+84935603752</td>
                <td>Katty</td>
                <td>17/09/2024</td>
                <td>Duyệt</td>
                <td class="flex items-center">
                  <a href="" class = "hover:bg-slate-400 w-[50%] h-[100%]"><ion-icon id="setting" class="w-[30px] h-[20px]"  name="settings-outline"></ion-icon></a>
                  <a href="" class = "hover:bg-slate-400 w-[50%] h-[100%]"><ion-icon id="trash" class="w-[30px] h-[20px]" name="trash-outline"></ion-icon></a>
                </td>
              </tr>
             </tbody>
            </table>
          </div>
          <div class="page flex items-center justify-end pb-2 pr-4">
            <div class="flex items-center space-x-2">
              <button class="flex items-center justify-center w-8 h-8 border rounded"><ion-icon name="arrow-back-outline"></ion-icon></button>
              <button class="flex items-center justify-center w-8 h-8 border rounded">1</button>
              <button class="flex items-center justify-center w-8 h-8 border rounded">2</button>
              <button class="flex items-center justify-center w-8 h-8 border rounded">3</button>
              <button class="flex items-center justify-center w-8 h-8 border rounded"><ion-icon name="arrow-forward-outline"></ion-icon></button>
            </div>
          </div>
        </div>
        <div class="crud-setting-schedule  mx-4 h-auto w-1/3  rounded-lg mt-6 border-[2px] bg-gray-300">
          <div class="header-card h-[15%] w-[100%] bg-[#6f7ab8c4] rounded-t-lg flex items-center justify-center">
            <h4 class="text-white text-lg">Sửa thông tin</h4>
          </div>
          <div class="body-card">
            <div class="flex items-center justify-between pt-1 px-2">
              <div class="flex flex-col mb-4">
                <label for="name" class="">Họ và tên</label>
                <input type="text" id="name" class="border rounded p-2 w-[80%]">
              </div>
              <div class="flex flex-col mb-4">
                <label for="name" class="">số điện thoại</label>
                <input type="text" id="name" class="border rounded p-2 w-full">
              </div>
            </div>
            <div class="flex items-center justify-between pt-1 px-2">
              <div class="flex flex-col mb-4">
                <label for="name" class="">Tên thú cưng</label>
                <input type="text" id="name" class="border rounded p-2 w-[80%]">
              </div>
              <div class="flex flex-col mb-4">
                <label for="name" class="">Lich Khám</label>
                <input type="text" id="name" class="border rounded p-2 w-full">
              </div>
            </div>
            <div class="flex items-center justify-center">
              <select name="" id="" class = "w-[80%] rounded-lg h-[30px]">
                <option value="active">Active</option>
                <option value="active">Pending</option>
                <option value="active">Disable</option>
              </select>
            </div>
            <div class="flex items-center justify-between pt-4 mx-28">
              <button class = "hover:bg-slate-500 w-[80px] h-[40px] bg-green-600 rounded-lg">Lưu</button>
              <button class = "hover:bg-slate-500 w-[80px] h-[40px] bg-red-500 rounded-lg">hủy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
