<div class="modal fixed top-0 left-0 w-full h-full bg-white flex items-center justify-center">
  <div class="bg-[#f9faf5] w-[80%] h-[80%] flex flex-col">
    <div class="header-title-crud-pet w-full h-[10%] flex items-center p-2 justify-between">
      <div class="pl-2">
        <span class="font-medium">Hồ sơ thú cưng</span>
      </div>
      <div class="pr-2 ">
        <button class="transition-transform transform active:scale-95" (click)="tradeCreateProfilePet()"><span class="font-medium text-blue-600">< Quay trở lại trang cá nhân</span></button>
      </div>
    </div>
    <div class="body-crud-pet w-full p-2 h-[80%] flex justify-center">
      <form [formGroup]="createFormPet" class="w-[100%]">
        <div class="grid grid-cols-2 gap-4">
          <div class="space-y-4 border-r-2 border-gray-400">
            <label for="" class="flex items-center justify-center font-medium text-gray-500">Thông tin thú cưng</label>
            <div class="flex space-x-8">
              <label for="" class="text-gray-500 w-[20%]">Tên thú cưng <span class="text-red-600">*</span>:</label>
              <input type="text" formControlName="name" class="w-[40%] bg-[#f9faf5] border-gray-400 border-b-2 focus:outline-none focus:bg-[#f9faf5] focus:border-gray-400 pl-2 text-[16px]">
            </div>
            <div class="flex space-x-8">
              <label for="" class="text-gray-500 w-[20%]">Giống loại <span class="text-red-600">*</span>:</label>
              <input type="text" formControlName="typePet" class="w-[40%] bg-[#f9faf5] border-gray-400 border-b-2 focus:outline-none focus:bg-[#f9faf5] focus:border-gray-400 pl-2 text-[16px]">
            </div>
            <div class="flex space-x-8">
              <label for="" class="text-gray-500 w-[20%] pt-1 pb-1">
                Giới tính<span class="text-red-600">*</span>:
              </label>
              <div class="w-[40%] flex items-center justify-between">
                <div
                  class="w-[46%] bg-white border-2 flex items-center justify-center rounded-2xl p-1 cursor-pointer"
                  [ngClass]="{
                    'border-green-500 text-green-500': selectedSex === 'duc',
                    'hover:border-green-500 hover:text-green-500': selectedSex !== 'duc'
                  }"
                  (click)="selectSex('duc')"
                >
                  <input id="check-duc" formControlName="genderPet" value="DUC" type="radio" name="genderPet" class="sr-only" />
                  <label for="check-duc" class="text-green-500">Đực</label>
                </div>
                <div
                  class="w-[46%] bg-white border-2 flex items-center justify-center rounded-2xl p-1 cursor-pointer"
                  [ngClass]="{
                    'border-green-500 text-green-500': selectedSex === 'cai',
                    'hover:border-green-500 hover:text-green-500': selectedSex !== 'cai'
                  }"
                  (click)="selectSex('cai')"
                >
                  <input id="check-cai" formControlName="genderPet" value="CAI" type="radio" name="genderPet" class="sr-only" />
                  <label for="check-cai" class="text-green-500">Cái</label>
                </div>
              </div>
            </div>
            <div class="flex space-x-8">
              <label for="" class="text-gray-500 w-[20%]">Ngày sinh<span class="text-red-600">*</span>:</label>
              <input type="date" formControlName="birthDay" class="w-[40%] bg-[#f9faf5] border-gray-400 border-b-2 focus:outline-none focus:bg-[#f9faf5] focus:border-gray-400 pl-2 text-[16px]">
            </div>
            <div class="flex space-x-8">
              <label for="" class="text-gray-500 w-[20%]">Ngày nhận nuôi<span class="text-red-600">*</span>:</label>
              <input type="date" formControlName="adoptive" class="w-[40%] bg-[#f9faf5] border-gray-400 border-b-2 focus:outline-none focus:bg-[#f9faf5] focus:border-gray-400 pl-2 text-[16px]">
            </div>
            <div class="flex space-x-8">
              <label for="" class="text-gray-500 w-[20%]">Cân nặng<span class="text-red-600">*</span>:</label>
              <input type="number" formControlName="weight" class="w-[40%] bg-[#f9faf5] border-gray-400 border-b-2 focus:outline-none focus:bg-[#f9faf5] focus:border-gray-400 pl-2 text-[16px]">
            </div>
            <div class="flex space-x-8">
              <label for="" class="text-gray-500 w-[20%]">màu lông<span class="text-red-600">*</span>:</label>
              <input type="text" formControlName="furColor" class="w-[40%] bg-[#f9faf5] border-gray-400 border-b-2 focus:outline-none focus:bg-[#f9faf5] focus:border-gray-400 pl-2 text-[16px]">
            </div>
            <div class="flex space-x-8">
              <label for="" class="text-gray-500 w-[20%]">Tính cách<span class="text-red-600">*</span>:</label>
              <textarea  class="w-[40%] border border-gray-500 col-2"  rows= "4" formControlName="crystal"></textarea>
            </div>
          </div>
          <div class="space-x-4">
            <label for="" class="flex items-center justify-center font-medium text-gray-500">Thêm ảnh thú cưng</label>
            <div class="flex items-center  pt-4 w-[100%]">
              <div class="w-[50%] h-[30%] flex justify-center border-r-2 border-gray-400">
                <img *ngIf="petImagePreview" [src]="petImagePreview" alt="Pet Image" class="w-[50%] h-[50%]" alt="">
              </div>
              <div class="w-[50%] flex items-center justify-center">
                <div class="edit-profile p-2 text-white text-sm text-[16px] bg-green-500 rounded-3xl text-center w-[60%] transition-transform transform active:scale-95">
                  <input type="file" id="file-input" name="petImageFile" class="hidden" (change)="onFileChange($event)" required>
                  <button (click)="triggerFileInput()">Thêm ảnh thú cưng</button>
                </div>
              </div>
            </div>
            <div class="pt-2 flex items-center w-[100%]">
              <div class="w-[50%] p-2">
                <span class="text-gray-500 ">Gởi ảnh nhỏ hơn 5 mb</span>
              </div>
              <div class="w-[50%] p-2">
                <span class="text-gray-500">Vui lòng chọn ảnh đại diện hợp lệ cho thú cưng</span><br>
                <span class="text-gray-500">Không đăng ảnh nhạy cảm</span>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center space-x-4 pt-8">
          <button type="button" class="bg-white p-2 rounded-2xl text-black border border-green-500 pl-4 pr-4 hover:text-green-600 transition-transform transform active:scale-95" (click)="tradeCreateProfilePet()">quay trở lại trang cá nhân</button>
          <button type="button" (click)="creatProfilePet()" class="bg-white p-2 rounded-2xl text-black border border-yellow-300 pl-4 pr-4 hover:text-yellow-600 transition-transform transform active:scale-95">tạo hồ sơ thú cưng</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div *ngIf="showNotification" class="fixed bottom-5 left-5  px-4 py-2 rounded-lg shadow-lg bg-green-200 border-green-600 text-green-600 border-l-4 p-4">
  <div class="" role="alert">
    <p class="font-medium text-[14px]">
        Thông báo
    </p>
    <p class="text-[14px]">
        Hồ sơ thú cưng đã được tải lên!!!
    </p>
  </div>
</div>
