<div  class="w-[100%] bg-white h-auto p-2 pt-4 pl-4">
  <div class="header-order p-2 border-b-2">
    <span class="font-medium text-[20px]">Lịch sử hóa đơn</span><br>
    <span class="text-gray-500 text-sm">Hiển thị thông tin hóa đơn của bạn tại phòng khám thú y Penguin</span>
  </div>
  <div class="body-header-order p-2 border-b-2 ">
    <form action="" class="flex items-center">
      <div class="p-2">
        <input type="text" placeholder="mã hóa đơn" class="p-2 rounded-lg border-2">
      </div>
      <div class="">
        <button class="p-2 text-white text-sm text-center bg-blue-600 rounded-lg flex items-center justify-center hover:bg-blue-500">Tìm kiếm</button>
      </div>
    </form>
  </div>
  <div class="table-order p-2">
    <table class="w-full mt-2 rounded-lg mb-4 border">
      <thead class="border-gray-200">
        <tr class="">
          <th class="font-medium text-black p-2 text-start">Thời gian</th>
          <th class="font-medium text-black p-2 text-start">Mã đơn hàng</th>
          <th class="font-medium text-black p-2 text-start">Tên sản phẩm</th>
          <th class="font-medium text-black p-2 text-start">Tổng tiền</th>
          <th class="font-medium text-black p-2 text-start">Trạng thái</th>
          <th class="font-medium text-black p-2 text-start"></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 overflow-y-auto">
        <tr>
          <th class="text-gray-500 text-sm font-semibold text-start p-2">2024-07-30 21:46:21</th>
          <th class="text-gray-500 text-sm font-semibold text-start p-2">7250664</th>
          <th class="text-gray-500 text-sm font-semibold text-start p-2">Netflix Premium 1 tháng - Tài khoản</th>
          <th class="text-gray-500 text-sm font-semibold text-start p-2">89.000đ</th>
          <th class="text-gray-500 text-sm font-semibold text-start p-2">Đã xử lý</th>
          <th class="text-blue-500 text-sm font-semibold text-start p-2 underline">Chi tiết</th>
        </tr>
        <tr>
          <th class="text-gray-500 text-sm font-semibold text-start p-2">2024-07-30 21:46:21	</th>
          <th class="text-gray-500 text-sm font-semibold text-start p-2">7250664</th>
          <th class="text-gray-500 text-sm font-semibold text-start p-2">Netflix Premium 1 tháng - Tài khoản</th>
          <th class="text-gray-500 text-sm font-semibold text-start p-2">89.000đ</th>
          <th class="text-gray-500 text-sm font-semibold text-start p-2">Đã xử lý</th>
          <th class="text-blue-500 text-sm font-semibold text-start p-2 underline">Chi tiết</th>
        </tr>
      </tbody>
    </table>
    <div class="flex w-[100%] items-center justify-end space-x-4">
      <button class="hover:bg-gray-500 p-1">Trở lại</button>
      <button class="hover:bg-gray-500 p-1 rounded-lg">1</button>
      <button class="hover:bg-gray-500 p-1 rounded-lg">2</button>
      <button class="hover:bg-gray-500 p-1 rounded-lg">3</button>
      <button class="hover:bg-gray-500 p-1">Tiếp tục</button>
    </div>
  </div>
</div>
