<!-- <div>
  <header class="bg-white">
    <nav class="flex justify-between items-center w-[92%] mx-auto">
      <div class = "flex items-center justify-center">
        <img class="w-16" src="https://t3.ftcdn.net/jpg/02/41/20/86/360_F_241208630_1azcg4jeOnovWxWADwNUYUjKeKLmwq4o.jpg" alt="">
        <h1 class="ml-2 text-lg font-bold"> PENGUIN</h1>
      </div>
      <div
        class="nav-links duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5"
        [ngClass]="{'top-[8%]': isMenuOpen, 'top-[-100%]': !isMenuOpen}"
      >
        <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-10">
          <li>
            <a class="hover:text-gray-500" [routerLink]="['/home']">Giới thiệu</a>
          </li>
          <li>
            <a class="hover:text-gray-500" [routerLink]="['/cua-hang']" routerLinkActive="router-link-active" >Sản phẩm</a>
          </li>
          <li>
            <a class="hover:text-gray-500" href="">Tư vấn</a>
          </li>
          <li>
            <a class="hover:text-gray-500" href="">Đặt lịch khám</a>
          </li>
        </ul>
      </div>
      <div class="flex items-center gap-6">
        <button class="bg-[#96b7f0] text-white px-5 py-2 rounded-full">Sign in</button>
        <ion-icon (click)="onToggeMenu()" name="{{iconName}}" class="text-3xl cursor-pointer"></ion-icon>
      </div>
    </nav>
  </header>
</div> -->
<body>

    <router-outlet></router-outlet>

</body>
<!-- <div >
  <footer class="font-sans text-sm pt-6">
    <div class="p-10 bg-green-300 text-gray-200 pt-3">
      <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
          <div class="mb5">
            <h4 class ="text-2xl pb-4">Company</h4>
           <p class = "text-gray-500 pt-1">
            A123 lost street <br>
            Chandigarh, PB 24233 <br>
            India <br>
            <strong>Phone:</strong> +840935603752 <br>
            <strong>Email</strong> Sun27052002&#64;gmail.com <br>
           </p>
          </div>
          <div class="mb5">
            <h4 class ="text-2xl pb-">Usefull Link</h4>
            <ul class="text-gray-500 pt-4">
              <li class = "pb-1"><i class="fa fa-chevron-right"></i> <a href="#" class = "hover:text-yellow-500"></a>Home</li>
              <li class = "pb-1"><i class="fa fa-chevron-right"></i> <a href="#" class = "hover:text-yellow-500"></a>About us</li>
              <li class = "pb-1"><i class="fa fa-chevron-right"></i> <a href="#" class = "hover:text-yellow-500"></a>Services</li>
              <li class = "pb-1"><i class="fa fa-chevron-right"></i> <a href="#" class = "hover:text-yellow-500"></a>Terms of service</li>
              <li class = "pb-1"><i class="fa fa-chevron-right"></i> <a href="#" class = "hover:text-yellow-500"></a>Privacy policy</li>
            </ul>
          </div>
          <div class="mb5">
            <h4 class ="text-2xl 2">Usefull Link</h4>
            <ul class="text-gray-500 pt-4">
              <li class = "pt-1"><i class="fa fa-chevron-right"></i> <a href="#" class = "hover:text-yellow-500"></a>web disign</li>
              <li class = "pt-1"><i class="fa fa-chevron-right"></i> <a href="#" class = "hover:text-yellow-500"></a>web developer</li>
              <li class = "pt-1"><i class="fa fa-chevron-right"></i> <a href="#" class = "hover:text-yellow-500"></a>product</li>
              <li class = "pt-1"><i class="fa fa-chevron-right"></i> <a href="#" class = "hover:text-yellow-500"></a>marketing</li>
              <li class = "pt-1"><i class="fa fa-chevron-right"></i> <a href="#" class = "hover:text-yellow-500"></a>gra</li>
            </ul>
          </div>
          <div class="mb5">
            <h4 class="text-2xl 2"> Join our newsletter</h4>
            <p class="text-gray-500 pb-2">Join 25,000+ 0ther and never miss out on new tips, tutorials, and more</p>
            <form action="" class="flex flex-row flex-wrap">
              <input type="text" class="text-gray-500 w-2/3 p-2 focus:border-yellow-500" placeholder="email@example.com">
              <button class="p-2 w-1/3 bg-yellow-500 text-white hover:bg-yellow-600">subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full bg-gray-900 text-gray-500 px-10">
      <div class="max-w-7xl flex flex-col sm:flex-row py-4 mx-auto justify-center items-center">
        <div class="text-center">
          <div>
            copyright <strong><span>Company</span></strong> . All Rights Reserved
          </div>
          <div>
            Designed by <a href="" class="text-yellow-500">TaiwindCss</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div> -->
