<div class="flex flex-col min-h-screen">
  <div class="header pb-2" *ngIf="shouldShowApp()">
    <div class="header-container fixed bg-white shadow-md top-0 w-full h-[7%] items-center flex justify-between z-50">
      <div class="p-2 w-full h-auto flex items-center space-x-2 justify-between">
        <div class="logo w-1/12 ml-2">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpXEH_1yXMCRKaCjTJrtri-gbN-IXLYytJ1A&s" alt="" class="rounded-full w-[36%] h-[36%] object-cover">
        </div>
        <div class="justify-center">
          <ul class="flex space-x-2">
            <li class ="text-gray-500"><a routerLink="home">Trang Chủ</a></li>
            <li class ="text-gray-500">Sản Phẩm</li>
            <li class ="text-gray-500"><a routerLink="appointment">Đặt lịch khám</a></li>
            <li class ="text-gray-500">Dịch vụ</li>
            <li class ="text-gray-500">Tin Tức</li>
          </ul>
        </div>
        <div class="flex justify-end items-center w-1/3 space-x-4">
          <div class="p-2 flex items-center" (click)="toggleDropdown($event)">
            <div class="login w-auto h-[30px] bg-black rounded-full hover:bg-gray-600 flex items-center justify-end">
              <ng-container *ngIf="loggin; else showLogin">
                <div class="relative flex items-center justify-end">
                  <button  class="rounded-full overflow-hidden">
                    <img src="{{avatar}}" alt="Avatar" class="w-10 h-10 rounded-full object-cover">
                  </button>
                  <div class="relative">
                    <div *ngIf="isDropdownOpen" #dropdownMenu class="absolute right-0 mt-2 w-72 bg-gray-800 text-white rounded-lg shadow-lg">
                      <div class="p-4 border-b border-gray-700">
                        <p class="font-semibold"></p>
                        <a routerLink="profile-user/profile" class="text-blue-400 text-sm">Xem trang cá nhân</a>
                      </div>
                      <ul class="p-4 space-y-2">
                        <li>
                          <a href="#" class="flex items-center space-x-2 hover:bg-gray-700 p-2 rounded-md">
                            <span>Cài đặt & quyền riêng tư</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="flex items-center space-x-2 hover:bg-gray-700 p-2 rounded-md">
                            <span>Trợ giúp & hỗ trợ</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="flex items-center space-x-2 hover:bg-gray-700 p-2 rounded-md">
                            <span>Màn hình & trợ năng</span>
                          </a>
                        </li>
                        <li class="flex items-center space-x-2 hover:bg-gray-700 p-2 rounded-md">
                          <button (click)="onLogout()">
                            <span>Đăng xuất</span>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #showLogin>
                <button class="p-2">
                  <span class="font-bold text-white">
                    <a [routerLink]="'/login'">LOGIN</a>
                  </span>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [class.pt-[3%]]="shouldShowApp()" class="body flex-grow">
    <router-outlet></router-outlet>
  </div>

  <div class="footer bg-[#f3f4f6] flex p-4 pl-10 pr-10 space-x-4 justify-between" *ngIf="shouldShowApp()">
    <div class="w-[20%]">
      <span class="text-lg font-semibold text-gray-900 dark:text-white">CÔNG TY CỔ PHẦN BỆNH VIỆN THÚ Y PETHEALTH <br></span>
      <span class="text-sm text-center mt-2">Thành lập từ năm 2024. PenguinHealthy tự hào là phòng khám thú y hàng đầu miền Trung với đội ngũ thành viên lên đến 20 thành viên</span>
    </div>
    <div class="w-[20%]">
      <span class="text-lg font-semibold text-gray-900 dark:text-white">THÔNG TIN LIÊN HỆ<br></span>
      <span class="text-sm text-center mt-2">- SDT: +84935603752</span>
      <span class="text-sm text-center mt-2">- Địa chỉ: 50 Hàm Nghi</span>
    </div>
    <div class="w-[20%]">
      <span class="text-lg font-semibold text-gray-900 dark:text-white">THÔNG TIN<br></span>
      <span class="text-sm text-center mt-2">- Dịch vụ </span>
    </div>
    <div class="w-[20%]">
      <span class="text-lg font-semibold text-gray-900 dark:text-white">FANPAGE<br></span>
      <span class="text-sm text-center mt-2">Thành lập từ năm 2024. PenguinHealthy tự hào là</span>
    </div>
  </div>
</div>
