<div class="w-[100%] bg-white h-auto p-2 pt-4 pl-4">
  <div class="header-title-body p-2 border-b-2">
    <span class="text-[20px] font-medium">Sản phẩm yêu thích</span><br>
    <span class="text-sm text-gray-500">Danh sách các sản phẩm mà đã yêu thích</span>
  </div>
  <div class="collection-header p-2">
    <div class="card flex w-[100%] pt-2">
      <div class="w-[80%] flex">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeZJyT5pUTBG0AzUDnMnMGF5EQ0EkuVIJvAg&s" alt="" class="w-[30%] h-[120px]">
        <div class="information-card p-2 pl-4">
          <span class="text-[18px] font-medium">Thức ăn cho chó</span><br>
          <span class="text-sm text-gray-500">Thức ăn</span><br>
          <ion-icon name="heart-circle-outline" class="pt-4 text-red-400 text-[22px]"></ion-icon>
        </div>
      </div>
      <div class="Money-card flex items-center space-x-12">
        <div class="">
          <span class="font-medium">320.000 Đồng</span>
          <br>
          <br>
          <span class="font-medium line-through">700.000 đồng</span>
        </div>
        <div class="">
          <ion-icon name="trash-outline" class="text-[20px] text-red-500"></ion-icon>
        </div>
      </div>
    </div>
    <div class="card flex w-[100%]  pt-2">
      <div class="w-[80%] flex">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeZJyT5pUTBG0AzUDnMnMGF5EQ0EkuVIJvAg&s" alt="" class="w-[30%] h-[120px]">
        <div class="information-card p-2 pl-4">
          <span class="text-[18px] font-medium">Thức ăn cho chó</span><br>
          <span class="text-sm text-gray-500">Thức ăn</span><br>
          <ion-icon name="heart-circle-outline" class="pt-4 text-red-400 text-[22px]"></ion-icon>
        </div>
      </div>
      <div class="Money-card flex items-center space-x-12">
        <div class="">
          <span class="font-medium">320.000 Đồng</span>
          <br>
          <br>
          <span class="font-medium line-through">700.000 đồng</span>
        </div>
        <div class="">
          <ion-icon name="trash-outline" class="text-[20px] text-red-500"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</div>
